<!DOCTYPE html>
<html>
    <head>
        <title>Bustop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>Home Page</h1>
        <a href='https://bustop-api.fusionsid.repl.co/bustop/' target='_blank'>Bustop</a><br>
        <h4>Database:</h4>
        <a href='https://bustop-api.fusionsid.repl.co/search/' target='_blank'>Search</a><br>
        <a href='https://bustop-api.fusionsid.repl.co/insert/' target='_blank'>Insert</a>
        <br>
        <br>
        <a href='https://github.com/FusionSid/Bustop' target='_blank'>More/How to use/API</a>
    </body>
</html>