<!doctype html>
<html>
  <head>
    <title>Insert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <body>
    
    <h1>Bustop Cheat Sheet lmao</h1>
    <h4>Goal: Beat jane</h4><br>
    <h3>Insert Page</h3>

    <form action="#" method="POST">
      <label for="cat">Category:</label><br>
      <input type="text" name="cat"><br>
      <label for="thing">Thing:</label><br>
      <input type="text" name="thing"><br>
      <input type="submit" value="submit">
    </form><br>
    
    <p>{{result}}</p>
    
  </body>
</html>